/* Week Four: Simple Group Website */
/* Lauren Banawa, Justin Hickman, Alli Adolphson */
/*ICT 4505 Web Design & Management */
/* CSS File */

header {
	text-align: center;
	margin-top: 20px;
}
h2 {
	margin-left: 50px;
	margin-top:20px;
	margin-bottom: 20px;
}
h3 {
	margin-left: 50px;
}
p {
	margin-left: 50px;
	margin-right: 50px;
}
.reference {
    /* Once working, this style will create a hanging indent */
    text-indent: -4em;
    margin-left: 4em;
}

.gallery {
    margin: 0 auto;
    width: 70%;
}

.about_img {
    width: 80%;
}